aiohttp==3.11.13
attrs==25.1.0
bcrypt==4.3.0
chromadb==0.6.3
dotenv==0.9.9
fastapi==0.115.11
google-cloud-firestore==2.20.1
google-cloud-storage==2.19.0
groq==0.18.0
huggingface-hub==0.29.1
jinja2==3.1.5
langchain==0.3.19
langchain-chroma==0.2.2
langchain-community==0.3.18
langchain-core==0.3.40
langchain-google-firestore==0.5.0
langchain-groq==0.2.4
langchain-huggingface==0.1.2
langchain-openai==0.3.7
langchain-text-splitters==0.3.6
langchainhub==0.1.21
openai==1.65.1
protobuf==5.29.3
pydantic==2.10.6
pydantic-settings==2.8.1
python-dotenv==1.0.1
requests==2.32.3
scikit-learn==1.6.1
scipy==1.15.2
sentence-transformers==3.4.1
sqlalchemy==2.0.38
starlette==0.46.0
sympy==1.13.1
tenacity==9.0.0
tiktoken==0.9.0
torch==2.6.0
transformers==4.49.0
uvicorn==0.34.0
watchfiles==1.0.4
websocket-client==1.8.0
websockets==15.0
